<html>

<body>
    <div>
        <form method='POST' action='/login'>
            Username:
            <input type='text' name='username' />
            <br/> Password:
            <input type='password' name='password' />
        	<br/>
        	<input type='submit'/>
        </form>
    </div>
</body>

</html>
